/* ACCESSIBILITY CONSIDERATIONS: https://css-tricks.com/having-a-little-fun-with-custom-focus-styles/ */

/* VARIABLES */

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Pangolin&display=swap');

:root {
    --background-color: rgb(231, 228, 247);
    --background-color-alt: rgb(151, 156, 205);
    --terminal-color: rgb(28, 29, 45);
    --terminal-text: rgb(236, 235, 246);
    --main-text: rgb(28, 29, 45);
    --transparent: rgba(250, 250, 255, 0.5);
    --emphasize: black;
    --squiggle: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: rgb(21, 22, 28);
        --background-color-alt: rgb(55, 57, 75);
        --terminal-color: rgb(240, 241, 251);
        --terminal-text: rgb(22, 23, 33);
        --main-text: rgb(231, 228, 247);
        --transparent: rgba(231, 228, 247, 0.5);
        --emphasize: white;
        --squiggle: rgb(7, 6, 14);

    }
}

body {
    background-color: var(--background-color);
    color: var(--main-text);
    overflow-x: hidden;
}

body *:not(svg#squiggle) {
    z-index: 2;
}

/* NAVBAR */
.nav-item {
    /* border: 3px solid var(--main-text);
    border-radius: 24px; */
    /* font-weight: bold; */
    transition: all 0.4s ease;
    z-index: 0;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: var(--main-text);
}

.nav-item:hover {
    letter-spacing: 0.1em;
}

/* PREAMBLE-SECTION */
h3 {
    text-align: center;
    font-family: "Pangolin", monospace;
    letter-spacing: 0.2em;
}

#terminal {
    background-color: var(--terminal-color);
    display: block;
    margin: auto;
    width: 50%;
    max-width: 800px;
    padding: 16px 8px;

    font-family: "Google Sans Code", monospace, sans-serif;
    text-align: start;
    color: var(--terminal-text);
}

#typing::after {
    content: "";
    border-left: 8px solid var(--terminal-text);

    animation: cursor .8s infinite;
}

@keyframes cursor {

    0%,
    50% {
        border-left: 8px solid var(--terminal-text);
    }

    51%,
    100% {
        opacity: 1;
        border-left: 8px solid var(--terminal-color);
    }
}

#me-container {
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* INTRO-SECTION */
#intro-section {
    background-color: rgb(55, 57, 75);
    background-color: var(--background-color);
}

/* SKILLS-SECTION */
#welcome {
    font-size: 4em;
    font-weight: 100;
    text-align: center;
    letter-spacing: 0em;
}

#info {
    font-size: 1.2em;
    text-align: center;
    border-radius: 8px;
    padding: 1em;
}

#three-d {
    display: block;
    width: 25%;
    height: 100%;
}

canvas {
    width: auto;
}

i {
    /* display: inline-block to create box around inline element that can be translated */
    display: inline-block;
    position: relative;
    font-size: 40px;
    transition: transform 0.3s ease;
}

i:hover {
    color: var(--emphasize);
    transform: translateY(-0.2rem);
}

.skill {
    position: relative;
    display: inline-block;
    z-index: 1000;
}

.skill:hover .popup {
    display: flex;
    z-index: 100;
}

.popup {
    display: none;
    z-index: 1000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
    bottom: -10px;

    flex-direction: column;
    border-radius: 8px;
    background-color: var(--background-color-alt);
    padding: 6px;
    white-space: nowrap;

    font-family: "Google Sans Code", monospace;
}

#skills-section {
    height: 400px;
}


#skillset {
    display: flex;
    align-items: center;
    height: 360px;
    padding: 20px;
    border: 2px solid var(--squiggle);
    border-radius: 8px;
    background-color: var(--transparent);
}

/* Label when focused */
.MuiAutocomplete-root.Mui-focused .MuiInputLabel-outlined {
    color: var(--main-text);
}

/* General label color */
.MuiAutocomplete-root .MuiInputLabel-root {
    color: var(--main-text);
}

/* Button base inside Autocomplete (dropdown arrow) */
.MuiAutocomplete-root .MuiButtonBase-root {
    color: var(--main-text);
}

/* Input root */
.MuiAutocomplete-root .MuiAutocomplete-inputRoot {
    color: var(--main-text);
    background-color: var(--background-color-alt);
}

/* Left padding for first input inside outlined input */
.MuiAutocomplete-root .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-input:first-of-type {
    padding-left: 8px;
}

/* Notched outline (border) default */
.MuiAutocomplete-root .MuiOutlinedInput-notchedOutline {
    border-color: var(--background-color);
}

/* Hovered outline */
.MuiAutocomplete-root .MuiAutocomplete-inputRoot:hover .MuiOutlinedInput-notchedOutline {
    border-color: var(--terminal-text);
    border-width: 2px;
}

/* Focused outline */
.MuiAutocomplete-root .MuiAutocomplete-inputRoot.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: var(--background-color);
}

/* SQUIGGLE */

svg#squiggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
}

svg#squiggle path {
    stroke: var(--squiggle);
    stroke-width: 2rem;
}

/* GALLERY */
#gallery {
    position: relative;
}

#image-track>.image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    border-radius: 8px;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
    /* -- Prevent image highlighting -- */
}